<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <title>Add new post &laquo; Admin</title>
  <link rel="stylesheet" href="/public/vendors/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/public/vendors/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="/public/vendors/nprogress/nprogress.css">
  <link rel="stylesheet" href="/public/css/admin.css">
  <script src="/public/vendors/nprogress/nprogress.js"></script>
</head>
<body>
  <script>NProgress.start()</script>

  <div class="main">
    <nav class="navbar">
      <button class="btn btn-default navbar-btn fa fa-bars"></button>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="profile.html"><i class="fa fa-user"></i>个人中心</a></li>
        <li><a href="login.html"><i class="fa fa-sign-out"></i>退出</a></li>
      </ul>
    </nav>
    <div class="container-fluid">
      <div class="page-title">
        <h1>写文章</h1>
      </div>
      <!-- 有错误信息时展示 -->
      <!-- <div class="alert alert-danger">
        <strong>错误！</strong>发生XXX错误
      </div> -->
      <form class="row">
        <div class="col-md-9">
          <div class="form-group">
            <label for="title">标题</label>
            <input id="title" class="form-control input-lg" name="title" type="text" placeholder="文章标题">
          </div>
          <div class="form-group">
            <label for="content">标题</label>
            <textarea id="content" class="form-control input-lg" name="content" cols="30" rows="10" placeholder="内容"></textarea>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="feature">特色图像</label>
            <!-- 用于保存需要上传文件成功的路径 -->
            <input type="hidden" name="feature" value="">
            <!-- show when image chose -->
            <img class="help-block thumbnail" style="display: none">
            <input id="feature" class="form-control" name="feature" type="file">
          </div>
          <div class="form-group">
            <label for="category">所属分类</label>
            <select id="category" class="form-control" name="category">
              {{each catData}}
              <option value="{{$value.cat_id}}">{{$value.cat_name}}</option>
              {{/each}}
              <!-- {{each catData}}
              <option value="{{$value.cat_id}}">{{$value.cat_name}}</option>
              {{/each}} -->
            </select>
              
          </div>
          <div class="form-group">
            <label for="created">发布时间</label>
            <input id="created" class="form-control" name="created" type="text">
          </div>
          <div class="form-group">
            <label for="status">状态</label>
            <select id="status" class="form-control" name="status">
              <!-- each循环 -->
              {{each status}}
              <option value="{{$value.key}}">{{$value.text}}</option>
              {{/each}}
            </select>
          </div>
          <div class="form-group">
            <button id="savePost" class="btn btn-primary" type="submit">保存</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="aside">
    <div class="profile">
      <img class="avatar" src="/public/img/avatar.jpg">
      <h3 class="name">龙卷风</h3>
    </div>
    <ul class="nav">
      <li>
        <a href="index.html"><i class="fa fa-dashboard"></i>仪表盘</a>
      </li>
      <li class="active">
        <a href="#menu-posts" data-toggle="collapse">
          <i class="fa fa-thumb-tack"></i>文章<i class="fa fa-angle-right"></i>
        </a>
        <ul id="menu-posts" class="collapse in">
          <li><a href="posts.html">所有文章</a></li>
          <li class="active"><a href="post-add.html">写文章</a></li>
          <li><a href="categories.html">分类目录</a></li>
        </ul>
      </li>
      <li>
        <a href="comments.html"><i class="fa fa-comments"></i>评论</a>
      </li>
      <li>
        <a href="users.html"><i class="fa fa-users"></i>用户</a>
      </li>
      <li>
        <a href="#menu-settings" class="collapsed" data-toggle="collapse">
          <i class="fa fa-cogs"></i>设置<i class="fa fa-angle-right"></i>
        </a>
        <ul id="menu-settings" class="collapse">
          <li><a href="nav-menus.html">导航菜单</a></li>
          <li><a href="slides.html">图片轮播</a></li>
          
        </ul>
      </li>
    </ul>
  </div>
  <script src="/public/vendors/jquery/jquery.js"></script>
  <script src="/public/vendors/bootstrap/js/bootstrap.js"></script>
  <script src="/public/vendors/layer/layer.js"></script>
  <script src="/public/vendors/laydate/laydate.js"></script>
  <script>NProgress.done()</script>
</body>
<script>
    $(function(){
      //初始化时间
      laydate.render({
        //指定元素
        elem:'#created',
        type:"datetime",
      })
    })

     // ajax实现文章的添加
     $("#savePost").click(function(){
      var formData = $("form").serialize();
      console.log(formData);
      var _self = $(this);
      _self.prop("disabled",true).html("保存中");//禁用
      $.post('/savePost',formData,function(res){
          var {code,message} = res;
          if(code == 200){
            layer.msg(message,{icon:1})
            location.href = "/"
          }else{
            _self.prop('disabled',false).html('保存'); //禁用
            layer.msg(message,{icon:1})
          }
        })
     })
        //ajax实现"上传文件
        $("#feature").change(function(){
          //要通过formdata获取文件的二进制数据
          if(this.files.length == 0){
            return ;
          }
          var file = this.files[0];
          //把文件二进制数据设置到formdata对象中
          var formData = new FormData();
          //属性名可以随便命名，值为二进制数据
          //追加数据
          formData.append('feature',file);
          $.ajax({
            url:'/uploadFeature',
            type:"post",
            data:formData,
            processData:false,  //将数据转换成对象，不做数据处理
            contentType:false //不设置数据类型
          }).then(res =>{
            //回显图片
            $('.thumbnail').attr('src',res.fullpath.replace("./","/")).show();
            $("input[name='feature']").val(res.fullpath);
          })

        })

    
</script>
</html>
